@media only screen and (min-width: 64rem) {

    nav button {display:none}
    nav ul.hide{
        display: block;
    }
    
    nav ul li{
        display: inline-block;
        justify-content: space-evenly;
        width: 15%;
    }

    nav ul li a{
        border: none;
        border-right:2px solid #c001ff;
        padding: 0.6rem 1rem;
        border-left:2px solid #c001ff;
        margin: 0%;

    }

footer{
    max-width: 80%;
    margin: 1rem auto;
}
    
}